<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Canada drives - Admin</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        
        <%-
            include('layouts/navbar');
        %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url('assets/img/g-test-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Test details</h1>
                            <span class="subheading">Access and remark Drivers License test details here</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                   
                <%


                        
                    if (message =="Inserted") { 
                    
                    %>
                            <h1>Deatils Updated</h1>
                    
                        <% 
                    }
                        
                
                %>

                    <div class="col-md-10 mt-5">
                    <div class="card">
                        
                        <div class="card-header">
                            <h4>Choose the time slot</h4>
                        </div>
                        <div class="card-body">
                            
                            <form method="POST" >

                                <div class="form-group row">
                                    <label for="testType" class="col-sm-4 col-form-label">Test Type : </label>
                                    <div class="col-sm-6">

                                        <select id="testType" name="testType"  class="form-control" required>
                                            <option value="" disabled selected>Select a test type</option>
                                            <option value="G2" >G2</option>
                                            <option value="G">G</option>
                                            
                                          </select>
                                        
                                    </div>
                                </div>  <br>
                                <br>

                                

                                <div class="form-group row">
                                    <table class="table table-striped" id="displayTable" style="display: none;">
                                        
                                        
                                    </table>
                                </div>  
                                
                                                   
                                
                                
                               
                              </form>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
       
        <!-- Footer-->
        
        <%-
            include('layouts/footer');
        %>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#testType').on('change', function () {


                    const testType = $('#testType').val();
                    const displayTable = $('#displayTable');

                    
                    $.ajax({
                    url: '/getDrivers',
                    method: 'GET',
                    data: { testtype: testType },
                    dataType: 'json',
                    success: function(data) {
                        // Display available times
                        displayUsers(data);
                    },
                    error: function(error) {
                        console.error('Error fetching available times:', error);
                    }
                    });


                    function displayUsers(users){   

                        displayTable.show();
                        displayTable.empty();
                        let loopCount = 1;

                        
                        if(users.length == 0){
                            displayTable.append(`<thead>
                                          <tr>
                                            <th scope="col">No Users Found</th>
                                           
                                          </tr>
                                        </thead>`);
                        }
                        else{

                            displayTable.append(`<thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">License</th>
                                            <th scope="col">Comments</th>
                                            <th scope="col">Test Status</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>`);

                            users.forEach(user_data => {
                                let status = "";

                                if(!user_data.exam_details.status){
                                    status = `<select class="form-select" id="testStatus_${user_data._id}" name="testStatus">
                                                    <option value="true">Passed</option>
                                                    <option value="false" selected>Failed</option>
                                                </select>`;
                                }
                                else{
                                    status = `<select class="form-select" id="testStatus_${user_data._id}" name="testStatus">
                                                    <option value="true" selected>Passed</option>
                                                    <option value="false" >Failed</option>
                                                </select>`;
                                }
                                displayTable.append(`<tbody>
                                          <tr>
                                            <th scope="row">${loopCount}</th>
                                            <td>${user_data.firstname} ${user_data.lastname}</td>
                                            <td>${user_data.licenseNo}</td>
                                            <td>
                                                <div class="form-group">                                    
                                                    <input type="text" class="form-control" id="comments_${user_data._id}" name="comments" value="${user_data.exam_details.comments}" required>
                                                </div>
                                            </td>
                                            <td>${status}</td>
                                            <td><button type="button" onclick="handleButtonClick('${user_data._id}')" class="btn btn-success btn-sm">Update</button</td>
                                          </tr>
                                          
                                        </tbody>`);

                                  
                                  loopCount++;
                            });

                        }            
  
                    }


                });

                
              
            });

            function handleButtonClick(id){
                    
                    const comments = $(`#comments_${id}`).val();
                    const status = $(`#testStatus_${id}`).val();
                    const testType = $('#testType').val();
                    

                    $.ajax({
                    url: '/updateTestStatus',
                    method: 'POST',
                    data: { user_id: id,
                        testtype: testType ,
                        status: status,
                        comments:comments
                    },
                    dataType: 'json',
                    });

            
                    
            }


           
        </script>
    </body>
</html>
